@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Warp&display=swap');
*{font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
/* -----------------------------------buscador header------------------------------------------ */
.search-box input[type="submit"] {
    background-color: #959795;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 15px;
    cursor: pointer;
}
.search-box input[type="text"] {
    border: none;
    font-size: 14px;
    width: 300px;
    padding: 10px;
    margin-right: 5px;
    border-radius: 25px;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(41, 40, 104);
    font-size: 20px;
    padding: 2px 5px;
}
.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 5px;
}
a{
    color: rgb(231, 227, 227);
    text-decoration: none;
}
a:hover{
    color: rgb(151, 147, 147);
}
.btn-menu{
    background-color:  rgb(231, 227, 227);
    border: none;
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: none;
}
@media screen and (max-width: 800px){
    .links{
        display: none;
    }
    .btn-menu{
        display: block;
    }
}

/* ------------------------------------------Main----------------------------------------------------  */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f5f5f5; 
}
main img{
    width: 100vw; /* la imagen se ajustará al ancho del contenedor */
    object-fit: cover; /* la imagen se recortará para llenar el contenedor */
    overflow: hidden; /* oculta cualquier parte de la imagen que se extienda más allá de los límites del contenedor */
}
button{
    display: flex; /* convierte el elemento en un contenedor de flexbox */
    flex-direction: column; 
    align-items: center; /* alinea verticalmente el contenido en el centro */
    justify-content: center; /* alinea horizontalmente el contenido en el centro */
    background-color: rgb(41, 40, 104);
    color: rgb(230, 228, 228);
    border: none;
    width: 180px; /* establece el ancho del botón */
    height: 200px; /* establece la altura del botón */
    border-radius: 30px;
    cursor: pointer;
    margin: 20px;
    font-size: 30px;
    box-shadow: 0px 5px 6px rgba(34, 34, 34, 0.439);
}
button:hover{
    transition: background-color 0.2s ease-in-out; /*agregamos la transición de color*/
    background-color: rgb(56, 55, 141); /*cambiamos el color de fondo al colocar el cursor encima*/
    transform: scale(1.2); /* aumenta el tamaño del botón al 120% */
    transition: transform 0.3s ease-in-out; /* agrega una transición suave */
}
.botton-main{
    display: flex;
    padding: 80px;
    align-items: center
}
.botton-main i{
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{  
    margin: 60px 70px;
    font-size: 23px;
    
}
.descripcion{ 
    padding: 20px 50px; /* agrega un relleno interno de 20 píxeles */
    background-color: #e6e6e6; /* establece un fondo gris claro */
    border: none; 
}
/* ------------------------------------------------Footer------------------------------------ */
footer {
    background-color: rgba(184, 177, 177, 0.952);
    color: rgb(233, 233, 233);
    padding: 60px;
}
.fo-barra{
    display: flex;
    justify-content: space-between; /* elimina el "align-items" y agrega "space-between" */
    align-items: center;
    flex-wrap: wrap;
    }
.col-fo{
    flex-basis: 30%; /* asigna un ancho base del 30% */
    transition: 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.titulo-sup{
    margin: 0;
    cursor: pointer;
    align-items: center;
    text-align: left; /* alinea el texto a la izquierda */
}

ul{
    margin: 8px;
    padding: 0;
    list-style: none;
    gap: 40px;
}
ul li{
    margin: 10px 0px;
}
.qr{
    text-align: center;
    flex-basis: 25%;
    display: flex;
    align-items: center;
}
.Redessociales{
    display: flex;
    flex-basis: 30%;
    justify-content: flex-end;
    cursor: pointer;
}
    
.Redessociales h4{
    margin-right: 10px; /* agregamos un margen derecho para separar el título de la lista */
   align-items: center; /* centramos verticalmente el título */
}
.img-fo {
    flex-basis: 100%; /* ocupa el ancho completo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.img-fo img {
    width: 50%;
}
.img-fo p {
    margin-top: 10px;
}